<div class="form-field form-field--{{ type }}">
    {% if type == 'text' or type == 'number' or type == 'date' or type == 'email' %}
        <input class="form-field__input form-field__input--{{ type }}"
               placeholder="{{ placeholder }}"
               type="{{ type }}"
               name="{{ field }}"
               id="{{ field }}"
               {% if required %}required{% endif %}
               {% for key, value in attributes %}{{ key }}="{{ value }}" {% endfor %}>
    
    {% elseif type == 'textarea' %}
        <textarea class="form-field__input form-field__input--textarea"
                  name="{{ field }}"
                  id="{{ field }}"
                  placeholder="{{ placeholder }}"
                  {% if required %}required{% endif %}></textarea>
    
    {% elseif type == 'select' %}
        <select class="form-field__input form-field__input--select"
                name="{{ field }}" 
                id="{{ field }}" 
                {% if required %}required{% endif %}>
            {% for option in options %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select>
    
    {% elseif type == 'checkbox' %}
        <div class="form-field__checkbox">
            <input class="form-field__checkbox-input"
                   type="checkbox" 
                   name="{{ field }}" 
                   id="{{ field }}" 
                   value="1" 
                   {% if required %}required{% endif %}>
            <label class="form-field__checkbox-label" for="{{ field }}">{{ label }}</label>
        </div>
    
    {% elseif type == 'radio' %}
        <div class="form-field__radio-group">
            {% for option in options %}
                <div class="form-field__radio-item">
                    <input class="form-field__radio-input"
                           type="radio" 
                           name="{{ field }}" 
                           id="{{ field }}_{{ option.value }}" 
                           value="{{ option.value }}"
                           {% if required %}required{% endif %}>
                    <label class="form-field__radio-label" for="{{ field }}_{{ option.value }}">{{ option.label }}</label>
                </div>
            {% endfor %}
        </div>
    
    {% else %}
        <div class="form-field__error">Unknown field type: {{ type }}</div>
    {% endif %}
</div>
