<div class="coachview-search__product">
    <img src="{{ product_image_url }}" alt="{{ product_name }}" class="coachview-search__product-img">
    
    <div class="coachview-search__product-info">
        <a href="{{ product_url }}" class="coachview-search__product-link">
            <h4 class="coachview-search__product-title">{{ product_name }}</h4>
        </a>
        
        <div class="coachview-search__product-meta">
            {% if product_price %}
            <span class="coachview-search__product-price">{{ product_price|raw }}</span>
            {% endif %}
            
            {% if num_locations %}
            <span class="coachview-search__product-num-locations">{{ num_locations }} locaties</span>
            {% endif %}
            
            {% if duration %}
            <span class="coachview-search__product-duration">{{ duration }}</span>
            {% endif %}
        </div>
        
        {% if start_date_day and start_date_formatted %}
        <div class="coachview-search__product-start-date">
            <span class="coachview-search__product-start-date__day">{{ start_date_day }}</span>
            <span class="coachview-search__product-start-date__date">{{ start_date_formatted }}</span>
        </div>
        {% endif %}
    </div>
</div>
