<a href="{{ training_url }}" class="training-card" aria-label="{{ product_name }}" aria-description="{{ description }}">
    <div class="training-card-image">
        <img src="{{ image_url }}" alt="{{ product_name }}" class="training-card-image--img">
        <div class="image-overlay"></div>
    </div>
    <div class="card-content">
        <p class="card-category">{{ training_type_category }}</p>
        <h3 class="card-title">{{ name }}</h3>
        <p class="card-text">
            {{ description }}
        </p>
        <div class="card-footer">
            <div class="metadata">
                <img src="{{assets_url}}img/icon_location.png" />
                <span>{{ cities|join(', ') }}</span>
            </div>
            {% if duration %}
                <div class="metadata">
                    <img src="{{assets_url}}img/icon_time.png" />
                    <span>{{ duration }}</span>
                </div>
            {% endif %}
            <div class="metadata">
                <img src="{{assets_url}}img/icon_price.png" />
                <span>{{ product_price|number_format(2, '.', ',') }}</span>
            </div>
        </div>
    </div>
</a>
